/* -------------    Footer    ----------------- */

.footer {
    padding-top: 36px;
    border-top: 4px solid #D6E9AA;
    background-color: #AEE6CB;
}

.footer__heading {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
}

.footer-list {
    padding-left: 0;    
}

.footer-link {
    font-size: 1.2rem;
    color: #000000;
    padding: 4px 0;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer-link i {
    font-size: 1.8rem;
    margin-top: -1px;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download-img {
    width: 150px;
    height: 150px;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-img {
    height: 16px;
}

.footer__bottom {
    background-color: #85D4BE;
    min-height: 60px;
    display: flex;
    align-items: center;

}

.footer__copyright {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: #000;
}